@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
}
body {
  background-color: #eeeeee;
  font-family: "Roboto Slab", serif;

  //general

  .d-none {
    display: none;
  }
  .d-block {
    display: block;
  }

  main {
    width: 40%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 500px;
    min-width: 500px;

    .container {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);

      button,
      i {
        cursor: pointer;
      }

      #profile-i {
        font-size: 2.5rem;
      }
    }

    .share-div {
      .sh-child {
        display: flex;
        padding: 1rem;

        button,
        input {
          outline: none;
          border: none;
        }

        input[type="file"] {
          display: none;
        }
      }

      .sh-top {
        gap: 1rem;

        .input-text {
          width: 100%;
          background-color: transparent;
        }

        .input-warning::placeholder {
          color: red;
          transition: all 200ms ease;
        }
      }
      .sh-middle {
        display: flex;
        gap: 1rem;

        .load-img {
          width: 70px;
          height: 70px;
          cursor: pointer;
          img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            object-fit: cover;
          }
        }
      }

      .sh-bottom {
        justify-content: space-between;
        border-top: 2px solid #ccd2d2;

        label {
          cursor: pointer;
        }
        .upload-img-btn {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          color: #abb6ba;
          background-color: transparent;
          pointer-events: none;
          height: 100%;

          i {
            font-size: 1.4rem;
          }
        }
        .share-btn {
          background-color: #1666b3;
          border-radius: 5px;
          color: #fff;
          padding: 0.6rem 1.2rem;
        }
      }
    }

    .output-div {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .post-div {
        // background-color: green;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;

        .pd-child {
        }

        .pd-header {
          //   background-color: #1666b3;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-size: 0.8rem;

          .profile-name {
            color: #2c2c39;
          }
          .profile-time {
            color: #bdbdbd;
          }

          .post-three-dot {
            margin-left: auto;
            font-size: 1.4rem;
          }
        }

        .pd-text {
        }
        .pd-img {
          width: 100%;
          height: 250px;
          border-radius: 5px;

          background-color: #bdbdbd;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center top;
            cursor: pointer;
          }
        }
        .pd-controller {
          display: flex;
          justify-content: space-between;
          gap: 1rem;
          border-top: 1px solid #ccd2d2;
          padding-top: 1rem;
          .pd-interaction {
            display: flex;
            align-items: center;
            padding: 0.2rem;
            justify-content: center;
            gap: 0.3rem;
            cursor: pointer;

            span {
              font-size: 0.7rem;
            }
            i {
              font-size: 1.1rem;
            }
          }
        }

        .delete-btn {
          padding: 0.5rem 1rem;
          border-radius: 5px;
          background-color: #fff;
          border: none;
          outline: none;
          margin-left: auto;
          font-size: 1.2rem;

          i {
            pointer-events: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  main {
    max-width: none;
    min-width: 300px !important;

    .pd-interaction {
      span {
        display: none;
      }
    }
  }
}
